@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng</h1>
    <p>Học <a href="https://docs.microsoft.com/aspnet/core">xây dựng Web apps với ASP.NET Core</a>.</p>
</div>
